@model List<OnlineStoreApp.Models.Item>
@{
    ViewData["Title"] = "Index";  
}

<h3>Index</h3>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Serial</th>
            <th>Category</th>
            <th>Client</th>            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model){
            <tr>
                <td>@item.Name</td>
                <td>@item.Price?.ToString("N2") $</td>
                <td>@(item.Serial ?? "")</td>
                <td>@(item.Category?.Name ?? "")</td>
                <td>@(item.Client?.Name ?? "")</td>
                <td>
                    <a asp-action="Edit" asp-route-serial="@item.Serial">Edit</a>
                    <a asp-action="Delete" asp-route-serial="@item.Serial">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>