@model List<OnlineStoreApp.Models.Item>
@{
    ViewData["Title"] = "Index";  
}

<h3>Items</h3>

<table class="table table-bordered table-striped">
    <thead class="table-light">
        <tr>
            <th style="width: 15%;">Name</th>
            <th style="width: 12%;">Price</th>
            <th style="width: 20%;">Serial</th>
            <th style="width: 15%;">Category</th>
            <th style="width: 15%;">Client</th>            
            <th style="width: 23%;">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model){
            <tr>
                <td>@item.Name</td>
                <td>@item.Price?.ToString("N2") $</td>
                <td><code>@(item.Serial ?? "")</code></td>
                <td>@(item.Category?.Name ?? "")</td>
                <td>@(item.Client?.Name ?? "")</td>
                <td>
                    <a asp-action="Edit" asp-route-serial="@item.Serial">Edit</a>
                    <a asp-action="Delete" asp-route-serial="@item.Serial">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>